body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ftornado&psig=AOvVaw0ccyJ51ovzP6S-nF8BYkoU&ust=1582027136033000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiq_PjE2OcCFQAAAAAdAAAAABAK"); 
}


#particles-js {
background-repeat: no-repeat;
background-size: cover;
}

#navbar{
background-color: black;
}
