body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1517825738774-7de9363ef735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"); 
}


#particles-js {
background-repeat: no-repeat;
background-size: cover;
}

#navbar{
background-color: black;
}
